%article
  %h2 About Us
  .col-1-3
    .summary
      = link_to icon("graduation-cap", '', class: "fa-5x"), education_path
      %p Education
  .col-1-3
    .summary
      =  link_to icon("university", '', class: "fa-5x"), museum_path
      %p Pop-up Museum
  .col-1-3
    .summary
      = link_to icon("users", '', class: "fa-5x"), community_path
      %p Community Archaeology
