.section.banner
  .row
    .col-4-5.padding-20
      %h1.logo About <em>Us</em>
      %p.blurb Welcome to ArchaeologyNI, formally Irish Archaeological Research
      %p We have been in business since 2011 and over that period we have evolved and the focus of our business has changed, therefore in 2014 we decided a new image and name change was appropriate. We still provide the same great service, the only thing that has been updated is our name.

.section
  .col-1-2.grid-no-pad
    %h3 Our services
    %p We are all professional archaeologists and using our knowledge of the rich archaeological heritage and historic culture of Northern Ireland, we provide educational &amp; heritage services to the public and private sectors.
    %p We work with schools, councils, community groups, charities and private enterprises to create projects and events that will highlight the archaeology and artefacts uncovered in Northern Ireland, demonstrating our shared past and illustrating how this can contribute to our present and future growth and prosperity. 
    %p Our services focus on three main areas, public outreach, educational programmes for schools and guided tours of archaeological sites around Northern Ireland and the Republic of Ireland.  
    %br
    %h3 Public outreach
    %p We have a very rich shared history which spans 10,000 years of human occupation on this Island. Our public outreach aims to provide information and a tactile experience to the general public about the many wonderful archaeological sites and artefacts found through archaeological excavations that have taken place all over Ireland.
    %p We have a very rich shared archaeological history spanning the 10,000 years of human occupation on this piece of land. 
    .clear80

  .col-1-2
    %h3 Educational program
    %p Our educational program has proven to be a big hit with pupils and teachers alike, by demonstrating how an archaeological site is excavated we can incorporate many elements from the curriculum. 
    %p We have found that children take in more information when they can actually get hands on experience, and our School Dig workshop allows them to excavate a simulated archaeological site using the same techniques as real archaeologists and find artefacts that will give clues about the site and the people who may once have lived there.
    -#%h3 Guided tours
    -#%p In 2015 we will be introducing a new series of guided tours of archaeological sites and landscapes; these will include bus tours and walking tours of areas around Northern Ireland.  
    -#%p Archaeology NI is committed to providing a unique experience on each project we undertake.
    -#%p Archaeology and history play a big part in our lives, whether we realise it or not, the more we can understand about our past, the better understanding we will have of our present and future. 
    -#%p No matter how big or small the project or event, we will be able to provide something that’s unique.
    -#%p Please <a href="/contact" data-no-turbolink="true" class="underline-link">contact us</a> to get quotes for any type of event or project in which you want an archaeology or historic theme. 
