= provide(:title, "Contact Us")
%br
#map_canvas
.contact-details
  %h3.logo Archaeology<em>NI</em>
  %address Unit 37 Farset Enterprise Park,<br /> 638 Springfield Road,<br /> Belfast,<br /> Northern Ireland,<br /> BT12 7DY
  %span= link_to "(+44) 028 9050 1769", "tel:(+44) 028 9050 1769"
  %br
  %span= link_to "info@arc-ni.com", "mailto:info@arc-ni.com"
