%br
#map_canvas
.contact-details
  %h3.logo Archaeology<em>NI</em>
  %address Unit A17 Valley Business Centre,<br /> 67 Church Road,<br /> Newtownabbey,<br /> Northern Ireland,<br /> BT36 7LS
  %span= link_to "(+44) 028 90867848", "tel:(+44) 028 90867848"
  %br
  %span= link_to "info@arc-ni.com", "mailto:info@arc-ni.com"
