= provide(:title, "Education")
.section.banner
  .row
    .col-4-5.padding-20
      %h1.logo Education
      %p.blurb We work with primary and post primary schools, after schools programmes, holiday schemes and community groups.
      %p We have developed interactive, hands on experience that will complement and integrate with the teaching curriculum in both Northern Ireland and the Republic of Ireland.

.section
  %h3 Workshops
  .col-1-2.grid-no-pad
    %p Our hour long workshops look at the time periods studied in your curriculum through a unique perspective. Using the skills of an archaeologist your students can learn how we look at the history of any time period through the objects that are left behind. 
    %p We have an extensive collection of artefacts and replicas from all time periods of our history from prehistoric man all the way up until the First World War. We use these objects like pieces of a large jigsaw that when put together the right way give you an insight into the lives of the people who left them behind. 
    %p Whatever your learning objective we can provide a unique educational experience that will be enjoyed by teacher and pupils alike. 

  .col-1-2
    = image_tag "school_dig_1.jpg", class: "img-border"

.section.clear
  %h3 School excavations
  .col-1-2.grid-no-pad
    %p As an addition to the school workshops or as a standalone class project the school excavation offers a new perspective on understanding our ancestors. 
    %p Your pupils guided by real archaeologists will get the chance to excavate replica archaeological sites spanning our 10,000 year history from the early hunter gatherers of the Mesolithic to the rise of the Industrial revolution and the Victorian era to the first world war. 
    %p Through the excavation, your pupils will learn how to use the skills of an archaeologist to detect clues that will rebuild the site and learn about the people who once lived there. 
    %p If you would like one of our archaeologists to visit your school please <a href="/contact" data-no-turbolink="true"class="underline-link">contact us</a> to see what we can offer you.
  .col-1-2
    = image_tag "school_dig_2.jpg", class: "img-border"
    .clear80
