.section.banner
  .row
    .col-4-5.padding-20
      %h1.logo Hands on <em>History</em>
      %p.blurb Archaeology NI presents our flagship interactive archaeological experience <em>Hands on History</em>.
      %p Archaeology NI have been running our very successful event Hands on History in its various forms for over three years at all kinds of events, open days and bespoke occasions. 

.section-no-pad-bottom
  .col-1-1

.section-no-pad-top.clear
  %h3 Pop-Up Museum
  .col-1-2.grid-no-pad
    %p Hands on History combines the two main elements of archaeological discovery together, the archaeological sites we dig and the artefacts we unearth, to bring the past to life for its visitors. These elements take the form of our unique Pop-Up Museum and our Epic Excavations. 
    %p Our museum will take its visitors on a tactile journey through Irelands 10,000 year history with artefacts and replicas ranging from the stone tools of our ancient ancestors to medieval weapons and the broken clay pipes and bottles discarded by our Victorian relatives.
    %p The museum is truly interactive with visitors being able to hold and examine the artefacts as well as discussing their history and function with real archaeologists who will be there to answer any questions they may have. 
  .col-1-2
    = image_tag "hands_on_1.jpg", class: "img-border"

.section.clear
  %h3 Epic Excavations
  .col-1-2.grid-no-pad
    %p Our excavations trenches are a fun and engaging way for all the family to be archaeologists for the day and are a big hit with children of all ages.
    %p The drop-in dropout nature of our excavations means that we can offer a great digging experience to a very high volume of visitors.
    %p The excavation trenches are based on real archaeological excavations and mimic the features and artefacts you can find on an actual dig site.
  .col-1-2
    = image_tag "hands_on_2.jpg", class: "img-border"
    .clear80
