%article
  %h1 Welcome
  .col-2-3.grid-no-pad
    %p.blurb We are an <em>archaeological heritage</em> consultancy based in Northern Ireland. We work with schools, community groups, heritage trusts, councils and local government bodies in the promotion of <em>local archaeology</em>.

    .col-1-2.grid-no-pad
      %p.heading Gavin Donaghy
      %p Gavin is a graduate of the University of Ulster Jordanstown. He started his working life in the IT sector, but then decided to follow his dream of becoming an archaeologist and began working in commercial archaeology as a field archaeologist, working his way up to a licensed archaeological site director in 2009. Gavin has a vast amount of experience on numerous archaeological site types and has a great passion for new technology and how it can add to our appreciation of archaeological sites. Gavin heads up our educational outreach department and our aerial photographic surveys.

      %p.heading Lianne Heaney
      %p Lianne is a graduate from Queens University Belfast and University of Ulster Coleraine in archaeology. She has worked in the commercial archaeology sector since 2002 making her way up the ranks from a field archaeologist to licensed site director and then post-excavation manger and business manager of one the biggest commercial archaeological consultancy’s in Northern Ireland. Lianne currently oversees the admin side of the company.

    .col-1-2
      %p.heading Cormac Duffy
      %p Cormac has recently joined us from University College London, he will be our Northwest Heritage and Education Officer, initially focusing on our new archaeology in the classroom initiative.  Cormac studied archaeology and graduated from Queens University Belfast in 2005 and has worked in the commercial sector in Northern Ireland and England ever since working his way up to supervising and managing excavations on large multi period sites throughout the UK. His interests include wood preservation in archaeological contexts, outside of fieldwork he has an ongoing interest in archaeological based community outreach. 

  .col-1-3
    %figure
      = image_tag "boy-holding-item.jpg"
      %figcaption
        .caption Some title
    %figure
      = image_tag "muff.jpg"
      %figcaption
        .caption Another Title
    %figure
      = image_tag "inch-abbey.jpg"
      %figcaption
        .caption And another...
