= provide(:title, "News")
.section-less-pad.banner
  %h1.logo News

.section
  .col-1-1.grid-no-pad
    %h3 Now taking Bookings for 2015
    %p Archaeology NI are now taking bookings for 2015, contact us for prices and available dates to hire the Pop-Up Museum and Epic Excavations for your in-door or out-door events and festivals.

%br
%br
%br
%br
%br
%br
%br
%br
%br
