.section.banner
  .row
    .col-4-5.padding-20
      %h1.logo The School <em>Dig</em>
      %p.blurb We work with primary and post primary schools, after schools programmes, holiday schemes and community groups.
      %p We have developed interactive, hands on experience that will complement and integrate with the teaching curriculum in both Northern Ireland and the Republic of Ireland.

.section
  %h3 Workshops
  .col-1-2.grid-no-pad
    %p Our workshop will incorporate visual presentations, excavations, surveys and hands-on interaction with genuine and replica artefacts and assessing the lives of ancient people through careful examination of the material they left behind.
    %p Our educational programme guides, motivates and encourage children to draw together diverse threads of evidence in order to give relevance to everyday objects, places and landscapes.
    %p Archaeology incorporates a huge range of school curriculum subjects including history, geography, science and art.
    %p Whatever your learning objective we can provide a unique educational experience that will be enjoyed by teacher and pupil alike.
  .col-1-2
    = image_tag "school_dig_1.jpg", class: "img-border"

.section.clear
  %h3 Classroom excavations
  .col-1-2.grid-no-pad
    %p Our unique classroom based workshop, The School Dig will engage and intrigue your students.
    %p Your pupils guided by real archaeologists will get the chance to excavate replica archaeological sites spanning our 10,000 year history from the early hunter gatherers of the Mesolithic to the rise of the Industrial revolution and the Victorian era. 
    %p We can also come out to your school with archaeological artefacts and give a hands on history lesson for any time period in Irish History. 
    %p If you would like one of our archaeologists to visit your school please <a href="/contact" data-no-turbolink="true"class="underline-link">contact us</a> to see what we can offer you.
  .col-1-2
    = image_tag "school_dig_2.jpg", class: "img-border"
    .clear80
